/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  /* Layout */
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  z-index: 1000;
  /* Design */
  font-family: "Smooch Sans", sans-serif;
  color: white;
  background-color: black;
  border-bottom: 1px solid white;
}
header > * {
  display: inline-block;
}

.logo {
  color: white;
  font-size: 2.4rem;
  font-weight: 100;
}

a {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  /* Layout */
  list-style: none;
}
nav li {
  padding: 0 1.5rem;
}

main {
  /* Background Design */
  background-image: radial-gradient(transparent -50%, black), url(../images/camera-background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* Fixed Background Positiion */
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}

.searchbar {
  /* Layout */
  display: flow-root;
  text-align: center;
  padding: 10rem 0 6rem 0;
}

input, button {
  /* (1/2) Consolidate Bars into One */
  border: none;
  background-color: white;
}

input {
  /* Design */
  height: 2.5rem;
  width: 30rem;
  border-radius: 3px;
  padding-left: 1rem;
}

button {
  /* (2/2) Consolidate Bars into One */
  transform: translateX(-3.5rem);
  height: 2rem;
}

.return-block {
  /* Photo Grid Layout */
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(10, 420px);
  grid-gap: 4rem;
  /* Positioning */
  justify-content: center;
  padding-bottom: 10rem;
}

img {
  /* Resizing */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-info {
  /* Layout */
  display: flex;
  flex-direction: column;
  transform: translateY(-4rem);
  padding: 0.25rem 1rem;
  /* Design */
  background-color: rgba(0, 0, 0, 0.75);
  /* Typography */
  color: white;
  font-size: 1.4rem;
  font-family: "EB Garamond", serif;
  line-height: 1.2;
  /* 
  Prevent Long City Names
  From Escaping Parent
  */
  white-space: nowrap;
  overflow: hidden;
}

.photoblock:hover {
  /* Focus Zoom */
  display: block;
  transform: scale(1.2);
}/*# sourceMappingURL=styles.css.map */